<h2 mat-dialog-title>Notify Users</h2>
<hr>
  <div class="container">
      <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search here">
      </mat-form-field>
      <mat-table [dataSource]="dataSource" matSort>
  
          <ng-container matColumnDef="select">
              
              <mat-header-cell *matHeaderCellDef>
                  <mat-checkbox (change)="$event ? masterToggle() : null"
                              [checked]="selection.hasValue() && isAllSelected()"
                              [indeterminate]="selection.hasValue() && !isAllSelected()">
                </mat-checkbox>
              </mat-header-cell>
                <mat-cell *matCellDef="let row">
                  <mat-checkbox (click)="$event.stopPropagation()"
                                (change)="$event ? selection.toggle(row) : null"
                                [checked]="selection.isSelected(row)">
                  </mat-checkbox>
                </mat-cell>
            </ng-container>
  
  
  
          <ng-container matColumnDef="user_name">
            <mat-header-cell *matHeaderCellDef mat-sort-header>User Name</mat-header-cell>
            <mat-cell *matCellDef="let user">{{user.name}}</mat-cell>
          </ng-container>
    
          <ng-container matColumnDef="role">
            <mat-header-cell *matHeaderCellDef>Role</mat-header-cell>
            <mat-cell *matCellDef="let user">{{user.role}}</mat-cell>
          </ng-container>
    
          <!-- <ng-container matColumnDef="actionsColumn">
              <mat-header-cell *matHeaderCellDef>Action</mat-header-cell> -->
  
  
              <!-- <mat-cell *matCellDef="let user"> <a (click)="editThisUser(user.id)" routerLinkActive="active"><mat-icon>create</mat-icon></a></mat-cell> -->
    
              <!-- <mat-cell *matCellDef="let user"> <a [routerLink]="['edit_access',user.user_id]"><mat-icon matTooltip="Edit user access">create</mat-icon></a></mat-cell>
            </ng-container> -->
          
    
          <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true" color="primary"></mat-header-row>
          <mat-row *matRowDef="let row; columns:displayedColumns"></mat-row>
        </mat-table>
        <mat-paginator class="page-container" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        <br><br>
        <button (click)="closeDialog()" class="button" mat-raised-button matTooltip="Close" >CLOSE</button>
        
        <button (click)="notifyUsers()" class="button" mat-raised-button matTooltip="Notify user about the idea" >NOTIFY</button>
  </div>



<!-- <mat-dialog-actions align="end">
    <button class="mat-raised-button btn1" (click)="doNotProceed()">No</button>
    <span class="spacer"></span>
    <button class="mat-raised-button btn2" (click)="proceed()" >Yes</button>
</mat-dialog-actions> -->