<div><br>
  &nbsp;&nbsp;
  <button [routerLink]="['requirement_form']" *ngIf="router.url.includes('innovation/ideaboxpage/req_display_form/') || 
  router.url.includes('admin_dashboard/ideaboxpage/req_display_form/') " 
  mat-raised-button matTooltip="Create requirement for the Idea Box Type">
      Create Requirement
    </button>
    <!-- <button [routerLink]="['assign_users']" *ngIf="router.url.includes('admin_dashboard/ideaboxpage/req_display_form/') || router.url.includes('innovation/ideaboxpage/req_display_form/')" 
  mat-raised-button matTooltip="Allocated users to idea box">
      Assign users
    </button> -->
    
    <div  class="container">
   <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search here">
   </mat-form-field>
  <mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="idea_box_type">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Idea Box Type</mat-header-cell>
      <mat-cell *matCellDef="let ideaneeds">{{ideaneeds.idea_box.toUpperCase()}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="requirement">
      <mat-header-cell *matHeaderCellDef>Requirement</mat-header-cell>
      <mat-cell *matCellDef="let ideaneeds">{{ideaneeds.requirement}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="requirement_description">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Requirement Description</mat-header-cell>
      <mat-cell *matCellDef="let ideaneeds">{{ideaneeds.description}}</mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="actionsColumn">
      <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
      <mat-cell id="action_column" *matCellDef="let ideaneeds" > 
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <!-- <a *ngIf="router.url.includes('innovation/ideaboxpage/req_display_form/') || 
        router.url.includes('admin_dashboard/ideaboxpage/req_display_form/')" [routerLink]="['view_ideas',ideaneeds.id]"><mat-icon matTooltip="View Ideas Filed against this requirement">list</mat-icon></a> -->
        <a [routerLink]="['view_ideas',ideaneeds.id]"><mat-icon matTooltip="View Ideas Filed against this requirement">list</mat-icon></a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a [routerLink]="['new_idea',ideaneeds.id]"><mat-icon matTooltip="Add New Idea for this requirement">add</mat-icon></a>
      
        <!-- *ngIf="router.url.includes('/user_dashboard/ideaboxpage/req_display_form') || 
        router.url.includes('/reviewer/ideaboxpage/req_display_form')"  -->
      
      </mat-cell>
    </ng-container>
  
    <mat-header-row *matHeaderRowDef="displayedColumns" color="primary"></mat-header-row>
    <mat-row *matRowDef="let row; columns:displayedColumns"></mat-row>
  </mat-table>
  <mat-paginator class="page-container" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

</div>
</div>

<!-- ng-if="ideaneeds.idea_type=" -->