<!-- Material Design Lite CSS -->
<link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.indigo-pink.min.css">
<!-- Material Design Icons -->
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<!-- Material Design Lite JavaScript -->
<script src="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.min.js"></script>
      
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
   <header class="custom-header mdl-layout__header mdl-layout__header--waterfall">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title" matTooltip="Go to homepage" 
            (click)="goToHome()"><mat-icon class="home">home</mat-icon>&nbsp;&nbsp;Collaborative Idea Management System</span>
            <div class="mdl-layout-spacer"></div>  
            <!-- <label>{{this.name}}</label> -->
            
            <mat-icon matTooltip="My Profile" [matTooltipPosition]="position.value" (mouseenter)="toggleShowDiv('divA')" (mouseleave)="toggleShowDiv('divA')">account_circle</mat-icon>
            
         
            <span class="topnav-right">
                <button matTooltip="Logout" class="btn float-right" (click)="logout()"><mat-icon>logout</mat-icon></button>
                
            </span>
            
        </div>
        
    </header>

    <!-- height: 110px;width: 150px; margin-right: 10%; -->
</div>
<div [@slideInOut]="animationState" class="slide-div">  
        <h1 class="slide-header-text">{{this.name}}</h1>
        <p class="slide-text">Role: {{this.role}}</p>
    </div>
          
          
     