<body>
    <br><br>
  <div class="container" >
      <h1><b>Manage IdeaBox Access</b></h1><hr>
      <form #ideaboxaccessform="ngForm" (submit)="submitFunc()" ng-app="ideaboxaccessApp" ng-controller="ideaboxaccessCtrl" id="ideaboxaccessform">
          <div class="form-group">
          <label for="type">Idea Box Type</label>
          <select class="form-control" id="type" name="type" required [(ngModel)]="boxOwner.innovation_manager_name">
            <option *ngFor="let x of ideaboxArray" [value]="x.type">{{x.type}}</option>
            <!-- <div [hidden]="type.valid || type.pristine"
             class="alert alert-danger">
              This field cannot be blank
            </div> -->
          </select>
        </div>

        <div class="form-group">
            <label for="user">Allocate Idea Box To</label>
            <select class="form-control" id="user" name="user" required [(ngModel)]="boxOwner.idea_box">
              <option *ngFor="let x of userArray" [value]="x.name">{{x.name}}</option>
              <!-- <div [hidden]="type.valid || type.pristine"
               class="alert alert-danger">
                This field cannot be blank
              </div> -->
            </select>
          </div>
        <button type="submit" class="btn btn-success" [disabled]="!ideaboxaccessform.form.valid">Submit</button>
      </form>
    </div>
  </body>

<!--   
  <select class="form-control" id="type" name="type" required [(ngModel)]="ideaneeds.idea_box">
      <select class="form-control" id="user" name="user" required [(ngModel)]="ideaneeds.idea_box"> -->
