
<body>
    <br><br>
  <div class="container" >
      <h1><b>Requirement of Idea Box</b></h1><hr>
      <form #requirementform="ngForm" (submit)="submitFunc($event)" ng-app="requirementApp" ng-controller="requirementCtrl" id="requirementform">
          <div class="form-group">
          <label for="type">Idea Box Type</label>
          <input type="text" class="form-control" id="type" name="type" [readonly]="true" [(ngModel)]="ideaneeds.idea_box">
  
          <!-- <select class="form-control" id="type" name="type" required [(ngModel)]="ideaneeds.idea_box">
            <option *ngFor="let x of ideaboxArray" [value]="x.type">{{x.type}}</option> -->
            <!-- <div [hidden]="type.valid || type.pristine"
             class="alert alert-danger">
              This field cannot be blank
            </div> -->
          <!-- </select> -->
        </div>
  
        <div class="form-group">
            <label for="req_name">Requirement</label>
            <input type="text" class="form-control" id="req_name" required name="req_name" [(ngModel)]="ideaneeds.requirement">
            <!-- <div [hidden]="req_name.valid || req_name.pristine"
             class="alert alert-danger">
              This field cannot be blank
            </div> -->
        </div>
  
        <div class="form-group">
            <label for="req_desc_name">Requirement Description</label>
            <textarea class="form-control" id="req_desc" required name="req_desc" [(ngModel)]="ideaneeds.description"></textarea>
            <!-- <div [hidden]="req_desc.valid || req_desc.pristine"
             class="alert alert-danger">
              This field cannot be blank
            </div> -->
          </div>
  
    
        <button type="submit" class="btn3 btn-success" [disabled]="!requirementform.form.valid">Submit</button>
      </form>
    </div>
  </body>