<div class="body"><br>
  &nbsp;&nbsp;<div class="inline" [routerLink]="['newideabox']">
  <button mat-raised-button matTooltip="Create new Idea Box Type">
    Create Idea Box
 </button>
 </div>
 <div class="inline" [routerLink]="['requirement_form']" >
    <button mat-raised-button matTooltip="Create requirement for the Idea Box Type">
      Create Requirement
    </button>
  </div>
  <!-- <div class="inline" [routerLink]="['ideabox_owner']" >
      <button mat-raised-button matTooltip="Assign Idea Boxes to Innovation Manager">
        Manage Idea Boxes
      </button>
    </div> -->
 <br><br><br>
 
<app-cims-idea-box-creation></app-cims-idea-box-creation>
</div>