
<div class="container">

    <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search here">
    </mat-form-field>
    <mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Title</mat-header-cell>
        <mat-cell *matCellDef="let idea">{{idea.idea_title}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
        <mat-cell *matCellDef="let idea">{{idea.idea_description}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="category">
        <mat-header-cell *matHeaderCellDef mat-sort-header >Category</mat-header-cell>
        <mat-cell *matCellDef="let idea" style="justify-content:center;">{{idea.category}}</mat-cell>
      </ng-container>
      <!-- <ng-container matColumnDef="reviewer_name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Reviewer Name</mat-header-cell>
        <mat-cell *matCellDef="let idea" >{{idea.reviewer_name}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="review_status">
        <mat-header-cell *matHeaderCellDef>Review Status</mat-header-cell>
        <mat-cell *matCellDef="let idea" style="justify-content:center;" >{{idea.review_status}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="review_comment">
        <mat-header-cell *matHeaderCellDef>Review Comments</mat-header-cell>
        <mat-cell *matCellDef="let idea">{{idea.review_comment}}</mat-cell>
      </ng-container> -->
      <ng-container matColumnDef="actionsColumn" *ngIf="router.url.includes('/innovation/')"  >
          <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
          <mat-cell  id="action_column" *matCellDef="let idea" > 
            <div *ngIf=" router.url.includes('innovation/ideaboxpage/req_display_form/') || 
            router.url.includes('admin_dashboard/ideaboxpage/req_display_form/') ||
            router.url.includes('innovation/myideaboxpage/req_display_form/') ">
            <a (click)="addReviewer(idea)"><mat-icon class="assign" matTooltip="Assign reviewer to idea">group_add</mat-icon></a>
           
            <a (click)="viewReviews(idea)"><mat-icon class="assign" matTooltip="View reviews">assignment</mat-icon></a>
          </div>
         
          </mat-cell>
        </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true" color="primary"></mat-header-row>
      <mat-row *matRowDef="let row; columns:displayedColumns" ></mat-row>
    </mat-table>
    <mat-paginator class="page-container" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>