<h2 mat-dialog-title>Reviews</h2>
<hr>
  <div class="container">
      <!-- <button (click)="toCSV()" class="button" mat-raised-button matTooltip="Export Ideas to CSV" >Export to CSV</button> -->
      <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search here">
      </mat-form-field>

    <mat-table [dataSource]="dataSource " matSort>
      <ng-container matColumnDef="reviewer_name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Title</mat-header-cell>
        <mat-cell *matCellDef="let r">{{r.reviewer}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="review_status">
        <mat-header-cell id="justify" *matHeaderCellDef>Status</mat-header-cell>
        <mat-cell *matCellDef="let r" style="justify-content:center;" >{{r.review_status}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="review_comment">
        <mat-header-cell *matHeaderCellDef mat-sort-header >Comment</mat-header-cell>
        <mat-cell *matCellDef="let r" >{{r.review_comment}}</mat-cell>
      </ng-container>

      

      <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true" color="primary"></mat-header-row>

      <mat-row *matRowDef="let row; columns:displayedColumns"></mat-row>

    </mat-table>
    <mat-paginator class="page-container" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    <br><br><br>
    <button (click)="closeDialog()" class="button" matTooltip="Close">CLOSE</button>
  </div>
  



