<br><br><br>
<table align="center">
<tr>
  <td align="center">
  <div class="inner-div1">
    <a [routerLink]="['newidea']">
<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Create New Idea</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="..\assets\images\create_new_idea.jpg" alt="Create new idea">
    <mat-card-content>
      <p align="center">
        Share with us, your Innovative Idea.
      </p>
    </mat-card-content>
</mat-card></a>
</div>
</td>

<td>
<div class="inner-div2">
    <a [routerLink]="['showideas']">
<mat-card class="example-card1">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image1"></div>
      <mat-card-title>List All Ideas</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="..\assets\images\list_all_ideas.jpg" alt="List all ideas">
    <mat-card-content>
      <p  align="center">
        View List of all Innovative Idea.
      </p>
    </mat-card-content>
</mat-card></a>
  </div>
</td>

<td align="center">
  <div class="inner-div1">
      <a [routerLink]="['ideaboxpage']">
<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image2"></div>
      <mat-card-title>Manage Idea Box and Requirements</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="..\assets\images\manage_idea.PNG" alt="Manage idea">
    <mat-card-content>
      <p align="center">
        Create a idea box and manage its Requirements.
      </p>
    </mat-card-content>
</mat-card>
      </a>
</div>
</td>

<td align="center">
    <div class="inner-div1">
        <a [routerLink]="['myideaboxpage']">
  <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image3"></div>
        <mat-card-title>My Actions</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="..\assets\images\my_actions.png" alt="My actions">
      <mat-card-content>
        <p align="center">
          View IdeaBox Created by You.
        </p>
      </mat-card-content>
  </mat-card>
        </a>
  </div>
  </td>

<!-- <td>
<div class="inner-div2">
    <a [routerLink]="['requirement']">
<mat-card class="example-card1">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image3"></div>
      <mat-card-title>Create Requirement</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR4w6rJL40xgGELJpXfEKDTiRHBCyPkoZYg7410Zl0zbNDm-Eo" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p  align="center">
        Create necessary requirements.
      </p>
    </mat-card-content>
</mat-card></a>
  </div>
</td> -->
</tr>

</table>