<br><br><br>
<table align="center">
<tr>
  <td align="center">
  <div class="inner-div1">
    <a [routerLink]="['newidea']">
<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Create New Idea</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="..\assets\images\create_new_idea.jpg" alt="Create new idea">
    <mat-card-content>
      <p align="center">
        Share with us, your Innovative Idea.
      </p>
    </mat-card-content>
</mat-card></a>
</div>
</td>

<td>
<div class="inner-div2">
    <a [routerLink]="['showideas']">
<mat-card class="example-card1">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image1"></div>
      <mat-card-title>List All Ideas</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="..\assets\images\list_all_ideas.jpg" alt="List all ideas">
    <mat-card-content>
      <p  align="center">
        View List of all Innovative Idea.
      </p>
    </mat-card-content>
</mat-card></a>
  </div>
</td>
<td>
    <div class="inner-div2">
        <a [routerLink]="['ideaboxpage']">
    <mat-card class="example-card1">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image2"></div>
          <mat-card-title>List All Ideas Boxes</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="..\assets\images\idea_box_list.jpg" alt="Ideabox list">
        <mat-card-content>
          <p  align="center">
            View List of all Idea Boxes
          </p>
        </mat-card-content>
    </mat-card></a>
      </div>
    </td>

    <td>
      <div class="inner-div2">
          <a [routerLink]="['myideas']">
      <mat-card class="example-card1">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image3"></div>
            <mat-card-title>My Actions</mat-card-title>
          </mat-card-header>
          <img mat-card-image src="..\assets\images\my_actions.png" alt="My actions">
          <mat-card-content>
            <p  align="center">
              View Ideas submitted by you.
            </p>
          </mat-card-content>
      </mat-card></a>
        </div>
      </td>

</tr>

</table>

