
<body>
    <br><br>
  <div class="container" >
      <h1><b>Idea Box Submission</b></h1><hr>
      <form #ideaboxform="ngForm" (submit)="submitFunc()" ng-app="ideaApp" ng-controller="ideaCtrl" id="ideaboxform" >
        <div class="form-group">
          <label for="idea_type">Idea Box Type</label>
          <input type="text" class="form-control" id="idea_type" name="idea_type" [(ngModel)]="ideabox.type" required #idea_type="ngModel">
          <!-- <div [hidden]="idea_type.valid || idea_type.pristine"
               class="alert alert-danger">
                This field cannot be blank
              </div> -->
        </div>
    
        <button type="submit" class="btn3 btn-success" [disabled]="!ideaboxform.form.valid">Submit</button>
      </form>
    </div>
  </body>
  