
<img class="image" src="..\assets\images\persistent.png">
<div class="container">
    <!-- <p>CIMS Login</p> -->
    <form (submit)="submitFunc($event)">
      <!-- <div class="form-group">
        <label for="email">User Name:</label>
        <input type="email" class="form-control" id="username" [(ngModel)]="username" name="username" >
      </div>
      <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" id="pwd" [(ngModel)]="password" name="password">
      </div>
      <div class="form-group form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="checkbox"> Remember me
        </label>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button> -->

      <table id="credentials_table" >
        <tbody>
          <tr>
            <td colspan="2" id="credentials_table_header">Enterprise Login
            </td>
          </tr>
          <tr>
              <td colspan="2" id="credentials_table_postheader">
              </td>
          </tr>
          <tr>
            <td class="credentials_table_header_cell">User Name</td>
            <td class="credentials_table_field_cell" >
                <input type="email" class="credentials_input_text" id="username" [(ngModel)]="username" name="username" >
            </td>
          </tr>
          <tr>
              <td class="credentials_table_header_cell">Password</td>
              <td class="credentials_table_field_cell" >
                  <input type="password" class="credentials_input_text" id="pwd" [(ngModel)]="password" name="password">
              </td>
          </tr>
          <tr id="submit_row">
              <td class="credentials_table_header_cell"></td>
              <td class="credentials_table_field_cell">
                <input type="submit" class="credentials_input_submit" >
              </td>
          </tr>
          <tr>
            <td id="credentials_table_footer"></td>
          </tr>
        </tbody>
      </table>
      
    </form>

</div>
<ngx-spinner></ngx-spinner>

