<!-- <p>
  show-ideas-form works!
</p> 
  <ul *ngFor="let i of ideas">
      <li>{{i.idea_title}}</li>
  </ul> -->
  
  <div class="container">
    <button (click)="toCSV()" class="button" mat-raised-button matTooltip="Export Ideas to CSV" >Export to CSV</button>
    <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search here">
    </mat-form-field>

  <mat-table [dataSource]="dataSource " matSort>
    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Title</mat-header-cell>
      <mat-cell *matCellDef="let idea" style="justify-content: center;">{{idea.idea_title}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="description">
      <mat-header-cell id="justify" *matHeaderCellDef>Description</mat-header-cell>
      <mat-cell *matCellDef="let idea">{{idea.idea_description}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="category">
      <mat-header-cell *matHeaderCellDef mat-sort-header >Idea Box Name</mat-header-cell>
      <mat-cell *matCellDef="let idea" style="justify-content:center;">{{idea.category.toUpperCase()}}</mat-cell>
    </ng-container>
    <!-- <ng-container matColumnDef="reviewer_name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Reviewer Name</mat-header-cell>
      <mat-cell *matCellDef="let idea" >{{idea.reviewer_name}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="review_status">
      <mat-header-cell *matHeaderCellDef>Review Status</mat-header-cell>
      <mat-cell *matCellDef="let idea" style="justify-content:center;" >{{idea.review_status}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="review_comment">
      <mat-header-cell *matHeaderCellDef>Review Comments</mat-header-cell>
      <mat-cell *matCellDef="let idea">{{idea.review_comment}}</mat-cell>
    </ng-container> -->
    <ng-container matColumnDef="actionsColumn">
        <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
        <mat-cell style="justify-content:center;" *matCellDef="let idea" id="action_column" > 
        <!-- <a><mat-icon matTooltip="Notify Users for this Idea">notifications</mat-icon></a> -->
        <!-- <button (click)="addReviewer(idea.id,idea.idea_owner)"></button>>Add Reviewer</button> -->
        <!-- <button class="btn" (click)="addReview(idea)">Review</button> -->
        <mat-icon class="icon-spacing" (click)="addReview(idea)" matTooltip="Add Review" >input</mat-icon>

        <mat-icon class="icon-spacing" (click)="viewReviews(idea)" matTooltip="View Reviews">assignment</mat-icon>
        
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true" color="primary"></mat-header-row>
    <!-- <mat-row *matRowDef="let row; columns:displayedColumns" (click)="onRowClicked(row)"></mat-row> -->
    <mat-row *matRowDef="let row; columns:displayedColumns"></mat-row>
  </mat-table>
  <mat-paginator class="page-container" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
<br><br><br><br><br><br>



